# Ignore node_modules across the whole project
node_modules/

# Ignore build folders and temporary files
/.next/
/build/
/dist/

/*.log

# Ignore environment files in both client and server
.env
.env.local
.env.*.local

# Ignore IDE config files (e.g., VSCode)
.vscode/

# Ignore npm package lock files (only if you want to regenerate them instead of committing)
package-lock.json
yarn.lock

# Ignore server-specific files like database files (if any)
*.sqlite
*.db

# Ignore OS-specific files (macOS, Windows, etc.)
.DS_Store
Thumbs.db
